.spaceMemberListingItem {
  display: flex;
  flex-direction: column;
}

.avatar {
  max-width: 100px;
  max-height: 200px;
}

.usernameLine {
  font-weight: bold;
  display: flex;
}

.channelLink {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.toggleChevron {
  transition: all 500ms;
  transform: rotate(0deg);
}

.toggleChevron.open {
  transform: rotate(-180deg);
}
