.spaceMemberListingItem {
  display: flex;
  align-items: center;
}

.avatar {
  max-width: 100px;
}

.content {
  margin-left: 1rem;
  flex-grow: 1;
}

.username {
  font-weight: bold;
}

.message {
  margin-top: 0.1rem;
}
