.form,
.loadingSpinner {
  margin-top: 1.5rem;
}

.submitRow {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.submittingSpinner {
  margin-left: 1rem;
}

.errorMessage,
.successMessage {
  margin-top: 1.5rem;
}

.successMessage {
  font-size: 0.8rem;
  color: green;
}
