.spaceMembersSheet {
  --rsbs-overlay-rounded: 16px !important; /* Ensure corners are always rounded. */
}

.content {
  max-width: 600px;
  padding: 0 1rem;
  margin: auto;
}

.description {
  margin-top: 1rem;
}

.listing {
  margin-top: 1rem;
}
