.spaceToolbar {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 1rem 0;
}

.spaceToolbarContent {
  display: flex;
  justify-content: center;
}

.toolbarItem {
  font-size: 18px;
  margin: 0 1rem;
}

button.toolbarItem {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.sheet {
  --rsbs-overlay-rounded: 16px !important; /* Ensure corners are always rounded. */
}

.sheetContent {
  max-width: 600px;
  padding: 0 1rem;
  margin: 1rem auto;
}
