.spaceToolbar {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 1rem 0;
}

.spaceToolbarContent {
  display: flex;
  justify-content: center;
}

.toolbarItem {
  font-size: 18px;
  margin: 0 0.5rem;
}

button.toolbarItem {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
