@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.break-word {
  word-break: break-word;
}

.bg-primary {
  background: #1f232d;
}

.content-container {
  max-width: 800px;
}
