.header {
  background: var(--color-space);
  padding: 1rem;
  color: white;
}

.logo {
  max-height: 50px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.navItem {
  padding: 0.5rem 1rem;
  color: white;
  transition: all 100ms;
  text-decoration: none;
}

.navItem:hover {
  text-decoration: underline;
}
