.header {
  background: var(--color-space);
  padding: 1rem 0;
  color: white;
}

.logo {
  max-height: 50px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.navItem {
  padding: 0.5rem 1rem;
  color: white;
  transition: all 100ms;
  text-decoration: none;
  opacity: 0.7;
}

.navItem.active,
.navItem:hover {
  opacity: 1;
}

.navItem.active {
  cursor: default;
}

.navItem:hover:not(.active) {
  text-decoration: underline;
}
