.viewSpaceMembers {
}

.listing,
.filter {
  margin-top: 1.5rem;
}

.paginationContainer {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.paginationLink {
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
}

.paginationLink:hover {
  border: 1px solid #d3d3d3;
}

a.disabledPaginationLink {
  opacity: 0.5;
  cursor: default;
}

a.paginationActivePage {
  cursor: default;
  color: white;
  display: block;
  background-color: var(--color-space);
}

a.paginationActivePage:hover {
  border: 1px solid transparent;
}

.paginationPage {
  display: none;
}

@media (min-width: 40rem) {
  .paginationPage {
    display: block;
  }
}
