.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* 
Use webkit-fill-available for mobile. 
Need to wrap in @supports because Chrome desktop identities this property value but does not use it correctly. 
Ugh. 
https://github.com/postcss/postcss-100vh-fix#postcss-100vh-fix
*/
@supports (-webkit-touch-callout: none) {
  .page {
    height: -webkit-fill-available;
  }
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
